<div class="grid-container"  *ngIf="dataSource != '' else semAcao">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-card  class="card">
        <mat-grid-tile>
            <div class="mat-elevation-z8 data-table">
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Ação </th>
                  <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
                </ng-container>
              
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Valor Bruto Atual </th>
                  <td mat-cell *matCellDef="let element"> R${{element.valorTotalAtual}} </td>
                </ng-container>
              
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Lucro/Perda </th>
                  <td mat-cell *matCellDef="let element"> {{getLucroPerda(element.valorTotalAtual, element.valorPrimeiraOperacao)}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <ngx-charts-pie-chart class="pizza" [results]="acoes" [view]="view" [scheme]="colorScheme" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)" (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
            </ngx-charts-pie-chart>
        </mat-grid-tile>
      </mat-card>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card borda cardFooter">
          <mat-card-content class="dashboard-card-content">
            <div>Valor diario de ações</div>
            <mat-tab-group dynamicHeight style="margin-top: 15px;">
              <mat-tab *ngFor="let element of vetor" label="{{element.nome}}">
                <div class="mat-elevation-z8 data-table">
                 <table class="tabelaDiaria">
                   <tr>
                     <td>Ação</td>
                     <td>Abertura</td>
                     <td>Fechamento</td>
                     <td>Máxima</td>
                     <td>Mínima</td>
                     <td>Volume</td>
                   </tr><br>
                   <tr>
                     <td>{{ element.nome }}</td>
                     <td>R$ {{ element.abertura }}</td>
                     <td>R$ {{ element.fechamento }}</td>
                     <td>R$ {{ element.maxima }}</td>
                     <td>R$ {{ element.minima }}</td>
                     <td>R$ {{ element.volume }}</td>
                   </tr>
                 </table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card borda cardFooter">
          <mat-card-content class="dashboard-card-content">
            <div>Histórico de ações</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>

<footer>
  
</footer>

<ng-template #semAcao>
  <mat-grid-list cols="1" rowHeight="350px" class="semAcao">
    <p style=" font-size: 30px!important;">Não existe ações cadastradas!</p>
  </mat-grid-list>
</ng-template>