<mat-sidenav-container fullscreen>    
    <mat-sidenav #sidenav mode="push" color="primary">
        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button
                    (click)="sidenav.toggle()">
            </button>       
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./admin"
               mat-list-item
               (click)="sidenav.toggle()">
                <span>Dashboard</span>
            </a>
            <a routerLink="./acoes"
               mat-list-item
               (click)="sidenav.toggle()">
                
                <span>Ações</span>
            </a>
            <a routerLink="./operacoes"
               mat-list-item
               (click)="sidenav.toggle()">
                <span>Operações</span>
            </a>
        </mat-nav-list>  
    </mat-sidenav>
    <mat-toolbar>
        <button 
        mat-icon-button
        style="color: white;"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button 
        mat-button
        style="color: white;"
        [matMenuTriggerFor]="menu"
        >
        <mat-icon mat-list-icon>people</mat-icon>
        {{usuario.nome}}
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="['/Dashboard']">
                <mat-icon>person</mat-icon>
                <span>Minha conta</span>
              </a>
        
              <a mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
              </a>
        </mat-menu>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>