<h1 *ngIf="!isChange" mat-dialog-title>Criar Operacao</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Operacao</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Ação: </mat-label>
    <input matInput [(ngModel)]="data.tag" style="text-transform:uppercase">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantidade: </mat-label>
    <input type="number" matInput [(ngModel)]="data.quantidade">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Valor Unitario: </mat-label>
    <input type="number" min="1" max="10" matInput [(ngModel)]="data.valorUnitario">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tipo Operacao: </mat-label>
    <mat-select [(ngModel)]="data.tipoOperacao">
      <mat-option *ngFor="let options of option" [value]="options.value">
        {{options.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data da Operação</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.dataInicio">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="sair(null)" color="warn" >Cancelar</button>
  <button *ngIf="!isChange" mat-button (click)="salvar(data)" [mat-dialog-close]="data" color="primary" cdkFocusInitial>Criar</button>
  <button *ngIf="isChange" mat-button (click)="salvar(data)" [mat-dialog-close]="data" color="primary" cdkFocusInitial>Editar</button>
</div>
